#boardTable tr:not(:first-child):hover {background-color: #efefef;
    cursor: pointer;}
.selected{color: chocolate; font-weight: bold;}
.pageContainer{display: flex; padding: 10px 50px; justify-content: center;}
.pageContainer div:not(:first-child){margin-left: 8px;}
#heart{font-size: 3px;}
.record .item.cnt{font-size: 3px;}
.record .line{display: flex;}
.record .writer {margin-top: 8px; margin-left: 10px;}